//
$ap-pink: #fa1d79;
$ap-violet: #302387;
$ap-dark-grey: #8e8e93;
$ap-grey: #c7c7cc;
$ap-light-grey: #d1d1d6;
$ap-very-light-grey: #f6f6f6;
$white: #fff;


$background: #fff;
$black: #000;
$very-light-gray: #eaeaea;
$light-gray: #908f91;
$gray: #484848;
$dark-gray: #212121;

$background-light: #EFEFEF;

$background-dark: #363537;






$border-radius-sm: 4px;
$border-radius: 8px;


